<!DOCTYPE html>
<html>
<head>
    <title>SOLO Pentesting Lab</title>

    <style>
        body{
            background:black;
            color:#00ff00;
            font-family:monospace;
            text-align:center;
        }

        .card{
            border:1px solid #00ff00;
            padding:20px;
            margin:20px;
            display:inline-block;
            width:250px;
            box-shadow:0 0 15px #00ff00;
        }

        a{
            color:#00ff00;
            text-decoration:none;
        }
    </style>

</head>
<body>

<h1>SOLO PENTESTING LAB</h1>

<div class="card">
    <h2>SQL Injection Lab</h2>
    <a href="/sqli">Start Lab</a>
</div>

<div class="card">
    <h2>XSS Lab</h2>
    <a href="/xss">Start Lab</a>
</div>

<div class="card">
    <h2>File Upload Lab</h2>
    <p>Coming Soon</p>
</div>

<div class="card">
    <h2>Authentication Lab</h2>
    <p>Coming Soon</p>
</div>

</body>
</html>
